
*.json
*.csv
*.sqlite3

CSI2999/CellCheck/templates/.DS_Store

CSI2999/CellCheck/templates/CellCheck/.DS_Store

CSI2999/CellCheck/migrations/

db.sqlite3_backup

db.sqlite3_backup2

.idea/

PriceAPIKey

*.pyc

Pipfile.lock
