<!DOCTYPE html>
<html lang="">

<head>
    <link rel="stylesheet" type="text/css" href="./MainCss.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="#">Cell Check</a></h1>
            </div>
            <!-- Menu -->
            <div id="menu">
                <ul>
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                </ul>
            </div>
            </div>
            </div>
            <!-- [End Header] -->


            <!-- [Content] -->
            <div id="featured-wrapper">
                <div id="featured" class="container">
                    <header>Review Page</header>

                    <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
                </div>
            </div>
            <div id="page-wrapper">
                <div id="page" class="container">
                    <div id="content">
                        <div id="flex-content">

                            <div class="cell cell-1">Prices</div>
                            <div class="cell cell-2">Phone Image</div>
                            <div class="cell cell-3">Rating</div>
                            <div class="cell cell-4">Reviews</div>


                        </div>





                    </div>
                </div>


            </div>
            <div id="copyright" class="container">
                <p>Cell Check - Sophomore Project 2020 &copy;</p>
            </div>

            </body>

            </html>