{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
		<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<title>Cell Check</title>
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="template">Cell Check</a></h1>
            </div>
            <div class="search-container">
            <form action="/action_page.php">
            <input type="text" placeholder="Search" name=search">
	        <button type="submit">
	<i class="fa fa-search">
	Search Phones
	</i>
	</button>
                	<button type="manufacture">
	                <i class="fa fa-search">
	                Search Manufactures
	        </i>
	    </button>
	</form>

	</div>
            <!-- Menu
            <div id="menu">
                <ul>
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <!-- [End Header] -->


    <!-- [Content] -->
    <div id="featured-wrapper">
        <div id="featured" class="container">
            <header>Your one stop shop for phone information.</header>

            <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
        </div>
    </div>



    <div id="page-wrapper">
        <div id="page" class="container">
            <div id="content">
                <header>All The Phones</header>

                <div id="two-column">
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
								<a class="card" href="Manufacturer/{{Manufacturer1|lower|slugify}}">
                                    <!-- Might need to add class to finalize css with an image -->
                                    <h3 class="card-title">{{Manufacturer1|default:"Manufacturer Name Here"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone1URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="Manufacturer/{{Manufacturer2|lower|slugify}}">
                                    
                                    <h3 class="card-title">{{Manufacturer2|default:"Manufacturer Name Here"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone2URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </section>
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
                                <a class="card" href="Manufacturer/{{Manufacturer3|lower|slugify}}">
                                    
                                    <h3 class="card-title">{{Manufacturer3|default:"Manufacturer Name Here"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone3URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="Manufacturer/{{Manufacturer4|lower|slugify}}">
                                    
                                    <h3 class="card-title">{{Manufacturer4|default:"Manufacturer Name Here"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone4URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </section>

                </div>
            </div>
        </div>


        </div>

        <div id="copyright" class="container">
            <p>Cell Check - Sophomore Project 2020 &copy;</p>
        </div>

</body>

</html>
