{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
		<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<title>Cell Check</title>
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="template">Cell Check</a></h1>
            </div>
            <!-- Menu -->
            <div id="menu">
                <ul>
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- [End Header] -->


    <!-- [Content] -->
    <div id="featured-wrapper">
        <div id="featured" class="container">
            <header>Your one stop shop for phone information.</header>

            <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
        </div>
    </div>



    <div id="page-wrapper">
        <div id="page" class="container">
            <div id="content">
                <header>All The Phones</header>

                <div id="two-column">
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
                                <a class="card" href="Manufacturer/">
                                    
                                    <h3 class="card-title">Apple</h3>
                                    <div class="card-img-cont">
                                        <img src="https://thecanadiantechie.files.wordpress.com/2019/09/apple_iphone-11-pro_colors_091019_web.jpg" alt="" class="card-img">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="Manufacturer/">
                                    
                                    <h3 class="card-title">Samsung</h3>
                                    <div class="card-img-cont">
                                        <img src="https://www.samsung.com/global/galaxy/galaxy-fold/images/galaxy-fold_highlight_kv_silver_end.png" alt="" class="card-img">
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </section>
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
                                <a class="card" href="Manufacturer/">
                                    
                                    <h3 class="card-title">Google</h3>
                                    <div class="card-img-cont">
                                        <img src="https://www.yankodesign.com/images/design_news/2019/03/i-could-really-get-used-to-this-notch-less-google-pixel-4-design/google_pixel_4_1.jpg" alt="" class="card-img">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="Manufacturer/">
                                    
                                    <h3 class="card-title">Nokia</h3>
                                    <div class="card-img-cont">
                                        <img src="https://images.ctfassets.net/wcfotm6rrl7u/4wodxOL4wEHRYluoe2NCmm/5c8a28b1d4d23bdb98884be9b61e1fbc/OG-ifa_2019.jpg" alt="" class="card-img">
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </section>

                </div>
            </div>
        </div>


        </div>

        <div id="copyright" class="container">
            <p>Cell Check - Sophomore Project 2020 &copy;</p>
        </div>

</body>

</html>
