{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
		<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<title>{{phoneName|default:"Manufacturer Name Here"}} Phones</title>
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="../">Cell Check</a></h1>
            </div>

            <div class="search-container">
<form action="/action_page.php">
  <input type="text" placeholder="Search" name=search">
	<button type="submit">
	<i class="fa fa-search">
	submit
	</i>
	</button>
	</form>

	</div>
            <!-- Menu -->

            <!--
            <div id="menu">
                <ul>
                    <li class="active">
                        <a href="../">Home</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <!-- [End Header] -->


    <!-- [Content] -->
    <div id="featured-wrapper">
        <div id="featured" class="container">
			<header>{{manufacturer|capfirst}} Phones</header>

            <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
        </div>
    </div>



    <div id="page-wrapper">
        <div id="page" class="container">
            <div id="content">
                <header>Popular {{manufacturer|capfirst|default:"Manufacturer Name Here"}} Phones</header>

                <div id="two-column">
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
								<a class="card" href="../Review/{{phone1|slugify|default:'noname'}}">
                                    
                                    <h3 class="card-title">{{phone1|default:"Phone 1"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone1URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>
                                </a>
                            </li>
                            <li>
								<a class="card" href="../Review/{{phone2|slugify|default:'noname'}}">
                                    
                                    <h3 class="card-title">{{phone2|default:"Phone 2"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone2URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </section>
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
									<a class="card" href="../Review/{{phone3|slugify|default:'noname'}}">
                                    
                                    <h3 class="card-title">{{phone3|default:"Phone 3"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone3URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>
                                </a>
                            </li>
                            <li>
								<a class="card" href="../Review/{{phone4|slugify|default:'noname'}}">
                                    
                                    <h3 class="card-title">{{phone4|default:"Phone 4"}}</h3>
                                    <div class="card-img-cont">
                                        <img src={{phone4URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </section>

                </div>
                <hr>
                <div id="more-list">
                <header>More phones from {{manufacturer|default:"Manufacturer Name Here"}}</header>
                    <ul>
                        {% for phone in phoneList %}
							<li> 
								<a href="../Review/{{phone|slugify}}">{{phone}}</a>
							</li>
                        {% empty %}
                            <li class=empty">Phones Not Found</li>
                        {% endfor %}

                    </ul>
                    </div>
            </div>
        </div>


        </div>

        <div id="copyright" class="container">
            <p>Cell Check - Sophomore Project 2020 &copy;</p>
        </div>

</body>

</html>
