{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<title>{{phoneName|default:"Manufacturer Name Here"}} Phones</title>
	{% if not phone1 %}
	<style>
		.centered {
			text-align : center;
			color : #333333
		}
		img.centered {
			position: static;
			margin-top: 1em;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
	{% endif %}
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="../">Cell Check</a></h1>
            </div>

            <div class="search-container">
	<form id="search" action="../Search/" method="post">
		{% csrf_token %}
  		<input type="text" placeholder="Search" name="searchString">
		<button name="phone" type="submit">
			<i class="fa fa-search">
			Search Phones
			</i>
		</button>
        <button name="manufacture" type="submit2">
            <i class="fa fa-search">
                Search Manufactures
            </i>
        </button>
	</form>

	</div>
            <!-- Menu -->
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- [End Header] -->


    <!-- [Content] -->
    <div id="featured-wrapper">
        <div id="featured" class="container">
			<header>{{manufacturer|capfirst}} Phones</header>

            <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
        </div>
    </div>

    <div id="page-wrapper">
        <div id="page" class="container">
            <div id="content"> 

                <div id="two-column">
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
							{% if phone1 %}
                            <li>
								<a class="card" href="../Review/{{phone1|slugify|default:'noname'}}">
                                    <h3 class="card-title">{{phone1|default:"Phone 1"}}</h3>
                                    <div class="card-img-cont">
									{% if phone1URL %}
                                   <img src={{phone1URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
								   {% else %}
								   <img src={% static 'CellCheck/Phone_Not_Found_Image.png'%} alt="No Phone Found">
								   {% endif %}
									</div>
                                </a>
                            </li>
							{% endif %}
                            {% if phone2 %}
                            <li>
								<a class="card" href="../Review/{{phone2|slugify|default:'noname'}}"> 
                                    <h3 class="card-title">{{phone2|default:"Phone 2"}}</h3>
                                    <div class="card-img-cont">
									{% if phone2URL %}
                                        <img src={{phone2URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
								   {% else %}
								   <img src={% static 'CellCheck/Phone_Not_Found_Image.png'%} alt="No Phone Found">
								   {% endif %}
									</div>
                                </a>
                            </li>
                        </ul>
						{% endif %}
                    </section>
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            {% if phone3 %}
                            <li>
									<a class="card" href="../Review/{{phone3|slugify|default:'noname'}}"> 
                                    <h3 class="card-title">{{phone3|default:"Phone 3"}}</h3>
                                    <div class="card-img-cont">
										{% if phone3URL %}
                                        <img src={{phone3URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
									   {% else %}
									   <img src={% static 'CellCheck/Phone_Not_Found_Image.png'%} alt="No Phone Found">
									   {% endif %}
									</div>

                                </a></li>
							{% endif %}
                            {% if phone4 %}
                            <li>
								<a class="card" href="../Review/{{phone4|slugify|default:'noname'}}"> 
                                    <h3 class="card-title">{{phone4|default:"Phone 4"}}</h3>
                                    <div class="card-img-cont">
										{% if phone4URL %}
                                       <img src={{phone4URL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
									   {% else %}
									   <img src={% static 'CellCheck/Phone_Not_Found_Image.png'%} alt="No Phone Found">
									   {% endif %}
									</div>
                               	</a></li>
								{% endif %}
                        </ul>
                    </section>
					{% if not phone1URL %}
						<div>
							<h3 class="centered">Sorry, no {{manufacturer|default:"Manufacturer Name Here"}} phones found</h3>
						</div>
					{% endif %}
                </div>
                <hr>
				{% if not phone1 %}
				<div>
					<img class="centered" src={% static 'CellCheck/Phone_Not_Found_Image.png'%} alt="No Phones Found :(" width="666" height="420">						
				</div>
				{% endif %}
                <div id="more-list">
				{% if phoneList %}
                <header>More phones from {{manufacturer|default:"Manufacturer Name Here"}}</header>
                    <ul>
                        {% for phone in phoneList %}
							<li> 
								<a href="../Review/{{phone|slugify}}">{{phone}}</a></li>
                        {% endfor %}
					</ul>
                    <ul id="collapsingList">
                        {% for phone in expandedPhoneList %}
							<li> 
								<a href="../Review/{{phone|slugify}}">{{phone}}</a></li>
                        {% endfor %}

                    </ul>
					{% if expandedPhoneList %}
	                    <button id="Collapsible" style="margin-left:75px;">Show More</button>
	                    <button id="Retractable" style="margin-left:75px;">Show less</button>
					{% endif %}
                    </div>
				{% endif %}
	            </div>
	        </div>
        </div>

        <div id="copyright" class="container">
            <p>Cell Check - Sophomore Project 2020 &copy;</p>
        </div>
</body>
<script type="text/javascript" src="{% static 'CellCheck/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'CellCheck/fancyJS.js' %}"></script> 
</html>
