{% load static %}


<!DOCTYPE html>
<html lang="">

<head>
   	<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	{% if not candidates %}
	<style>
		.centered {
			text-align : center;
			color : #333333
		}
		img.centered {
			position: static;
			margin-top: 1em;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
	{% endif %}
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="../">Cell Check</a></h1>
            </div>

<div class="search-container">
	<form method="post" action="../Search/">
		{% csrf_token %}
		<input type="text" placeholder="Search" name="searchString">
		<button name="phone" type="submit">
			<i class="fa fa-search">
			Search Phones
			</i>
		</button>
		<button name="manufacture" type="submit">
			<i class="fa fa-search">
			Search Manufacturers
			</i>
		</button>
	</form>	
</div>

        </div>
    </div>
    <!-- [End Header] -->


    <!-- [Content] -->
    <div id="featured-wrapper">
        <div id="featured" class="container">
			<header>Sorry, we currently have no results for {{phoneName|default:"your search"}}. </header>
        </div>
    </div>



    <div id="page-wrapper">
        <div id="page" class="container">
			<div id="content">

				<font size="4"><b><i>	
					{% if candidates %}
					<p class="centered">Maybe you were looking for one of the related phones below?</p>
					{% else %}
					<p class="centered">Sorry, our search didn't turn up any phones.</p>	
					{% endif %}
					<hr>
				</b></i></font>
				
				<div id="featured-wrapper2">
					<div id="featured" class="container">
						{% if candidates %}
						<header><u>Similar Phones </u></header>
						{% else %}
						<img src={% static 'CellCheck/Phone_Not_Found_Image.png'%} alt="No Phones Found :(" width="666" height="420">						
						{% endif %}
					</div>
				</div>
                <div id="two-column">
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
							{% for phone in topCandidates %}
								<li>
									<a class="card" href="../Review/{{phone.name|slugify}}">
										<h3 class= "card-title">{{phone.name}}</h3>
										<div class="card-img-cont">
											{% if phone.imgURL %}
											<img src={{phone.imgURL}} alt="Image Not Found" class="card-img">
											{% else %}
											<img src={% static 'CellCheck/GenericPhone.png'%} alt="Image Not Found" class="card-img">
											{% endif %}
										</div>
									</a>
								</li>	
							{% endfor %}
                        </ul>

                    </section>
				</div>
            </div>
    <!-- [Content] -->
		<div id="more-list">
			<ul>
			{% for phone in candidates %}
				<li>
					<a href="../Review/{{phone|slugify}}">{{phone}}</a>
				</li>
			{% endfor %}
			</ul>
			<ul id="collapsingList">
			{% for phone in collapsingList %}
				<li> 
					<a href="../Review/{{phone|slugify}}">{{phone}}</a>
				</li>
			{% endfor %}
			</ul>
			{% if collapsingList %}
			<button id="Collapsible" style="margin-left:75px;">Show More</button>
			<button id="Retractable" style="margin-left:75px;">Show less</button>
			{% endif %}
		</div>
    </div>
    </div>


        <div id="copyright" class="container">
            <p>Cell Check - Sophomore Project 2020 &copy;</p>
        </div>


</body>
	<style>
		img{
			display:block;
			margin-left:auto;
			margin-right:auto;
			}
		.centered{
			text-align:center;
		}
	</style>
<script type="text/javascript" src="{% static 'CellCheck/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'CellCheck/fancyJS.js' %}"></script> 
</html>
