<!DOCTYPE html>
<html lang="">

<head>
    <link rel="stylesheet" type="text/css" href="./MainCss.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="#">Cell Check</a></h1>
            </div>


<div class="search-container">
<form action="/action_page.php">
  <input type="text" placeholder="Search" name=search">
	<button type="submit">
	<i class="fa fa-search">
	submit
	</i>
	</button>
	</form>

	</div>

        </div>
    </div>
    <!-- [End Header] -->


    <!-- [Content] -->
    <div id="featured-wrapper">
        <div id="featured" class="container">
            <header>Sorry, we do not have a match. </header>

            <!-- [Buttons if needed]

            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
        </div>
    </div>



    <div id="page-wrapper">
        <div id="page" class="container">
            <div id="content"

                <p>We don't have quite what you're looking for, but we have some possible matches below. Alternatively, you can also shop by manufacture on the links below.</p>



                <div id="two-column">
                    <section>
                        <h2 class="section-title"></h2>

                        <ul class="card-list">
                            <li>
                                <a class="card" href="#">

                                    <h3 class="card-title">Samsung Galaxy S10</h3>
                                    <div class="card-img-cont">
                                        <img src="https://icdn2.digitaltrends.com/image/digitaltrends/galaxy-s10-plus-review-feat.jpg" class="card-img">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="#">

                                    <h3 class="card-title">Samsung Galaxy S20 </h3>
                                    <div class="card-img-cont">
                                        <img src="https://www.samsung.com/global/galaxy/galaxy-fold/images/galaxy-fold_highlight_kv_silver_end.png" alt="" class="card-img">
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a class="card" href="#">

                                    <h3 class="card-title">Samsung Galaxy Note10</h3>
                                    <div class="card-img-cont">
                                        <img src="https://9to5google.com/wp-content/uploads/sites/4/2019/08/samsung_galaxy_note_10_plus_4.jpg?quality=82&strip=all&w=1600" alt="" class="card-img">
                                    </div>

                                </a>
                            </li>
                        </ul>

                    </section>
                </div

    <!-- [Content] -->
    <div id="featured-wrapper2">
        <div id="featured" class="container">
            <header><u>All Brands</u></header>
        </div>
    </div>



            </div>
	<u1>
<li>
<a href=" " target="_blank">Apple</a>
</li>
<li>
<a href=" " target="_blank">Samsung</a>
</li>
<li>
<a href=" " target="_blank">Nokia</a>
</li>
<li>
<a href=" " target="_blank">Google</a>
</li>
<li>
<a href=" " target="_blank">Lenovo</a>
</li>
<li>
<a href=" " target="_blank">Huawei</a>
</li>
<li>
<a href=" " target="_blank">Motorola</a>
</li>
<li>
<a href=" " target="_blank">Lenovo</a>
</li>
	</u1>

        </div>


        </div>

        <div id="copyright" class="container">
            <p>Cell Check - Sophomore Project 2020 &copy;</p>
        </div>

</body>

</html>