{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
		<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<title>{{phoneName|default:"Phone Name Here"}} Review Report</title>
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">

        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="../">Cell Check</a></h1>
            </div>


            <div class="search-container">
            <form action="/action_page.php">
            <input type="text" placeholder="Search" name=search">
	        <button type="submit">
	<i class="fa fa-search">
	Search Phones
	</i>
	</button>
	</form>

	</div>

            <!-- Menu
            <div id="menu">
                <ul>
                    <li class="active">
                        <a href="../">Home</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                    <li>
                        <a href="#">??????</a>
                    </li>
                </ul>
            </div>
            -->
            </div>
            </div>
            <!-- [End Header] -->


            <!-- [Content] -->
            <div id="featured-wrapper">
                <div id="featured" class="container">
						<header>{{phoneName|default:"Phone Name"}} Review Page</header>

                    <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
                </div>
            </div>
            <div id="page-wrapper">
                <div id="page" class="container">
                    <div id="content">
                        <div id="flex-content">

							<div class="cell price-cell">
                                <h3>Prices</h3>
                                <hr/>
                            </div>
							<div class="cell img-cell"><img src={{imageURL|default:"#"}} alt="No&nbsp;Phone&nbsp;Image&nbsp;Found"></div>
							<div class="cell rating-cell">
								<h3>Ratings</h3>
                                    <hr/>
								<ul>
									{% for site, score in scores %}
										{%if "Average" in site  %}
											<li class="AvgScore"> {{site}} : {{score|floatformat:1}} </li>
										{% else %}
											<li> {{site}} | {{score|floatformat:1}} </li>
										{% endif %}
									{% empty %}
									<li class="No_Scores">No Scores Found</li>
									{% endfor %}
									
									{% if cnetDesign %}
									<li>Design: {{cnetDesign}}</li>
									{% endif %}
									{% if cnetFeatures %}
									<li>Features: {{cnetFeatures}}</li>
									{% endif %}
									{% if cnetPerformance %}
									<li>Performance: {{cnetPerformance}}</li>
									{% endif %}
									{% if cnetCamera %}
									<li>Camera: {{cnetCamera}}</li>
									{% endif %}
									{% if cnetBattery %}
									<li>Battery: {{cnetBattery}}</li>
									{% endif %}
								</ul>
							</div>
							<div class="cell review-cell"><h3>Reviews</h3>
                            <hr/>
                                <div class="procon">
                                    <ul class="pros">
                                        <h3>Pros</h3>
                                        <li>
                                            <button class="Collapsible">CNET</button>
                                            <ul class="cnet collapsingList" >
                                                {% for pro in cnetPros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">CNET Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Wired</button>
                                            <ul class="wired collapsingList">
                                                {% for pro in wiredPros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Wired Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">PCMag</button>
                                            <ul class="pcMag collapsingList">
                                                {% for pro in pcmagPros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">PCMag Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Verge</button>
                                            <ul class="verge collapsingList">
                                                {% for pro in vergePros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Verge Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="cons">
                                    <h3>Cons</h3>
                                        <li>
                                            <button class="Collapsible">CNET</button>
                                            <ul class="cnet collapsingList">
                                                {% for pro in cnetCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">CNET Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Wired</button>
                                            <ul class="wired collapsingList">
                                                {% for pro in wiredCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Wired Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">PCMag</button>
                                            <ul class="pcMag collapsingList">
                                                {% for pro in pcmagCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">PCMag Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Verge</button>
                                            <ul class="verge collapsingList">
                                                {% for pro in vergeCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Verge Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
							</div>
                        </div>


                    </div>
                </div>

            </div>
            <div id="copyright" class="container">
                <p>Cell Check - Sophomore Project 2020 &copy;</p>
            </div>

			<script>
				// Cite this code to W3 schools as an edit of their collapsible button code
				// https://www.w3schools.com/howto/howto_js_collapsible.asp
				let coll = document.getElementsByClassName("Collapsible");
				let i;
				for (i = 0; i < coll.length; i++) {
						let collapseList = coll[i].nextElementSibling;
						collapseList.style.display = "none"
						coll[i].addEventListener("click", function() {	
								console.log("hi")
								let content = this.nextElementSibling;
								if (content.style.display != "none"){
								  content.style.display = "none";
								} else {
								  content.style.display = "initial";
								}
					  });
				}
			</script>

            </body>

            </html>

