{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>	
	<link rel="stylesheet" type="text/css" href="{% static 'CellCheck/MainCss.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<title>{{phoneName|default:"Phone Name Here"}} Review Report</title>
</head>

<body>
    <!-- [Header] -->
    <div id="header-wrapper">
        <!-- Header container class will contain the logo and menu -->
        <div id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="../">Cell Check</a></h1>
            </div>
            <div class="search-container">
  	<form id="search" action="../Search/" method="post">
			{% csrf_token %}
            <input type="text" placeholder="Search" name="searchString">
	    	<button name="phone" type="submit">
				<i class="fa fa-search">
					Search Phones
				</i>
			</button>
        	<button name="manufacture" type="submit2">
            <i class="fa fa-search">
                Search Manufactures
            </i>
        </button>
	</form>

	</div>
            </div>
            </div>
            <!-- [End Header] -->


            <!-- [Content] -->
            <div id="featured-wrapper">
                <div id="featured" class="container">
						<header>{{phoneName|default:"Phone Name"}} Review Page</header>

                    <!-- [Buttons if needed]
            
            <a href="#" class="button">This is a Button</a>
            <a href="#" class="button button-alt">This is a Button</a> -->
                </div>
            </div>
            <div id="page-wrapper">
                <div id="page" class="container">
                    <div id="content">
                        <div id="flex-content">

							<div class="cell price-cell">
                                <h3>Prices</h3>
                                <hr/>
								<div id="amazon_prices">
									<h4>Amazon Prices</h4>
									<p class="wait_message">Searching Amazon</p>
								</div>
								<div id="google_prices">
									<h4>Google Shopping Prices</h4> 
									<p class="wait_message">Searching Google Shopping</p>
								</div>
                            </div>
							<div class="cell img-cell">
								{% if imageURL %}
                                <img src= "{{ imageURL }}" alt="No&nbsp;Phone&nbsp;Image&nbsp;Found"> 
								{% else %}
								<img src= "{% static 'CellCheck/GenericPhone.png' %}" alt="No&nbsp;Phone&nbsp;Image&nbsp;Found">
								{% endif %}
                            </div>
							<div class="cell rating-cell">
								<h3>Ratings</h3>
                                <hr/>
                                    <div class="ratings">
                                        <ul class="rating-scores">
                                            {% for site, score in scores %}
                                                {%if "Average" in site  %}
                                                    <li class="AvgScore"> {{site}} : {{score|floatformat:1}} </li>
                                                {% else %}
                                                    <li> {{site}} | {{score|floatformat:1}} </li>
                                                {% endif %}
                                            {% empty %}
                                            <li class="No_Scores">No Scores Found</li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="cnet-scores">
                                            <h4>Cnet Subscore</h4>
											{% if cnetDesign %} 
													<li>Design: {{cnetDesign}}</li>
													<li>Features: {{cnetFeatures}}</li>
													<li>Performance: {{cnetPerformance}}</li>
													<li>Camera: {{cnetCamera}}</li>
													<li>Battery: {{cnetBattery}}</li>
											{% else %} 
												<li class="Missing-Data">Sorry, CNET subscores unavailable</li>
                                            {% endif %}

                                        </ul>
                                    </div>
							</div>
							<div class="cell review-cell"><h3>Reviews</h3>
                            <hr/>
                                <div class="procon">
                                    <ul class="pros">
                                        <h3>Pros</h3>
                                        <li>
                                            <button class="Collapsible">CNET</button>
                                            <ul class="cnet collapsingList" >
                                                {% for pro in cnetPros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">CNET Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Wired</button>
                                            <ul class="wired collapsingList">
                                                {% for pro in wiredPros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Wired Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">PCMag</button>
                                            <ul class="pcMag collapsingList">
                                                {% for pro in pcmagPros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">PCMag Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Verge</button>
                                            <ul class="verge collapsingList">
                                                {% for pro in vergePros %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Verge Pros Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="cons">
                                    <h3>Cons</h3>
                                        <li>
                                            <button class="Collapsible">CNET </button>
                                            <ul class="cnet collapsingList">
                                                {% for pro in cnetCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">CNET Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Wired</button>
                                            <ul class="wired collapsingList">
                                                {% for pro in wiredCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Wired Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">PCMag</button>
                                            <ul class="pcMag collapsingList">
                                                {% for pro in pcmagCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">PCMag Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <button class="Collapsible">Verge</button>
                                            <ul class="verge collapsingList">
                                                {% for pro in vergeCons %}
                                                    <li> {{pro}} </li>
                                                {% empty %}
                                                    <li class="empty">Verge Cons Not Found</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                        <div class="reviewsv2">
                                            <h3>User Reviews</h3>
                                            <hr/>
                                            <div class="bestsprint">

                                                <ul class="Best Buy">
                                                    <h3>Best Buy</h3>
												{% if BestBuy %}
													{% if BestBuy.avg %}
													<li>Average Best Buy review score: {{BestBuy.avg|floatformat:1}}
													{% endif %}
													{% if BestBuy.revTitle %}
													<li class="reviewTitle">{{BestBuy.revTitle}}</li>
													{% else %}
													<li class="reviewtitle">Review</li>
													{% endif %}
													<li>Rating: {{BestBuy.rating|floatformat:1}} out of 5.0</li>
													<li><p>{{BestBuy.content}}</p></li>
													<li>{{BestBuy.usefulCount}} found this review useful</li>
												{% else %}
												<p>Sorry, we don't have Best Buy user reviews for this Phone</p>
												{% endif %}

                                                 </ul>
                                                <ul class="Sprint">
                                                    <h3>Sprint</h3>
												{% if Sprint %}
													{% if Sprint.avg %}
													<li>Avgerage Sprint review score: {{Sprint.avg|floatformat:1}}
													{% endif %}
													{% if Sprint.revTitle %}
													<li class="reviewTitle">{{Sprint.revTitle}}</li>
													{% else %}
													<li class="reviewTitle">Review</li>
													{% endif %}
													<li>Rating: {{Sprint.rating|floatformat:1}} out of 5.0</li>
													<li><p>{{Sprint.content}}</p></li>
													<li>{{Sprint.usefulCount}} found this review useful</li>
												{% else %}
												<p>Sorry, we don't have Sprint user reviews for this Phone</p>
												{% endif %}
                                                </ul>
                                            </div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
			</div>
            <div id="copyright" class="container">
                <p>Cell Check - Sophomore Project 2020 &copy;</p>
            </div>
			<script type="text/javascript" src="{% static  '/CellCheck/jquery-3.4.1.min.js' %}"></script>
			<script>
					const writePriceData = (shop,resultAry) => {
						/* Inputs: 
							shop = "shopName"
							resultsAry = [{"name": prodname, "url": "link" , "price" : "price", "shipping_cost" : "shipping cost" }...]
							Adds a bulleted list of the phones with a link to purchase, the cost, and shipping cost if available
						*/ 
						try {
							let priceDiv = $(`#${shop}_prices`);
							let oldPara = priceDiv.children(".wait_message")
							// Write store data to a price list, or inform that no results found
							if (resultAry != null) {
								let innerHTML = "<ul class=\"priceList\">\n";
								// Add results as list elements w/ links, and data presented in a para element
								//for (let result of resultAry){ 
								resultAry.forEach( (result) => {
									let name = result.name, price = result.price, link = result.url;	
									let item = "\t\t<li>" + `\n\t\t\t<a href="${link}">${name}</a>\n\t\t\t`;
									item += `<p>Price: \$${price}</p>\n\t\t</li>`
									//console.log("\n" + item);
									innerHTML += item;
								});
								//}
								innerHTML += "\n</ul>";
								priceDiv.append($(innerHTML));
							} 
							else {
								priceDiv.append(`<p class=\"noPrices\">Sorry, no ${shop} prices found</p>`)
							}
							oldPara.remove();
						} catch (error) {
							console.log(error);
						}	
				}
				// This code is only executed when the document is fully loaded and ready
				$(document).ready(() => {
					const phone = "{{phoneName|lower}}";
					// Promise to request Price data
					fetch(`../ajax/queryData/${phone}`).then( (response) => {	
						if (response.ok)
							return response.json();
						else
							throw "Response is NOT okay"
					}).then((jsonData) => {
						console.log(jsonData)
						for (let siteName in jsonData)
							writePriceData(siteName, jsonData[siteName]["results"])
					}).catch( (error) => {
						//Update with no prices found if 
						console.error("Ouch, something failed:\n",error);
						$("#amazon_prices > .wait_message").text("Sorry, unable to search Amazon at the time.");
						$("#google_prices > .wait_message").text("Sorry, unable to search Google Shopping at this time.");
					})	
				});
			</script>
			<script>
				// Cite this code to W3 schools as an edit of their collapsible button code
				// https://www.w3schools.com/howto/howto_js_collapsible.asp
				let coll = document.getElementsByClassName("Collapsible");
				let i;
				for (i = 0; i < coll.length; i++) {
						let collapseList = coll[i].nextElementSibling;
						collapseList.style.display = "none"
						coll[i].addEventListener("click", function() {	
								this.classList.toggle("active");
								let content = this.nextElementSibling;
								if (content.style.display != "none"){
								  content.style.display = "none";
								} else {
								  content.style.display = "initial";
								}
					  });
				}
			</script>

            </body>

            </html>

